/*video start*/
.video{
    padding: 30px 0px 20px;
}
.custom_vidtext{
    text-align: center;
    font-weight: bold;
}
.video_root{
    text-align: left;
    padding-bottom: 25px;
}
/*video end*/