/*logo infotext start*/
.logo_infotext{
    background-color:#cbc6c6ad;
    padding: 50px 0px 20px;
}
.custom_logo_text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
.custom_logo{
    text-align: center;
    img{
        width: 20%;
        height: 75px;
    }
}
/*logo infotext end*/