/*slick img donater start*/
.donars_donet{
    padding: 40px 0px 20px;
    background-color: #fff;
    .custom_dontext{
        text-align: center;
        padding-bottom: 40px;
    }
    .custom_slik{
        text-align: center;
    }
}

/*slick img donater end*/